.postspage {
  width: 300px;
  margin: 0rem auto 0rem auto;
  /*
  Parent Div's Width = Child Div's Width + Padding + Border + Margin
  375px = 300px + 0px + 0px + margin-inline: auto, so (1375px + 37.5px) 
  */
}

.post {
  width: auto;
  padding: 1rem;
  /*
  Parent Div's Width = Child Div's Width + Padding + Border + Margin
  300px = width: auto, so (268px) + (16px + 16px) + 0px + 0px
  */
  margin-bottom: 1rem;

  background-color: aqua;
}